name: Publish release to Sonatype Central

on:
  release:
    types: [ published ]

jobs:
  verify:
    name: Verify on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            wrapper: ./mvnw
          - os: windows-latest
            wrapper: .\mvnw.cmd
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - name: Set up Java 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'
      - name: Verify build
        run: ${{ matrix.wrapper }} --batch-mode verify
        env:
          # Ensure UTF-8 (Windows might not)
          MAVEN_OPTS: -Dfile.encoding=UTF-8

  publish:
    name: Publish new version on Sonatype Central
    runs-on: ubuntu-latest
    needs: verify
    if: ${{ needs.verify.result == 'success' }}
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          server-id: central
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Publish package
        run: ./mvnw --batch-mode -Ppublish-sonatype -DskipTests deploy
        env:
          MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.NEXUS_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
